#main{
  margin-bottom: 30px;
}

#content{
  clear: both;
}

.hidden{
  display: none !important;
}


/*---------------NAVIGATION---------------*/

#navigation{
  overflow: hidden;
  margin-bottom: 20px;
}

#main-menu{
  margin: 40px 10px 0 10px;
  padding-left: 0;
  list-style:none;
}

#main-menu a{
  display: block;
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: #333;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#main-menu .active{
  color: #000;
  z-index: 100;
  position: relative;
}

#main-menu a:hover{
  background: #ddd;
  background: -moz-linear-gradient(top, #ddd 40%, #ccc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#ddd), color-stop(100%,#ccc));
  background: -ms-linear-gradient(top, #ddd 40%,#ccc 100%);
  background: linear-gradient(top, #ddd 40%,#ccc 100%);
  color: #000;
}

#main-menu .active,
#main-menu .active:hover{
  background: #ececec;
}

.range_0 #main-menu{
  margin-top: 5px;
}
.range_0 #main-menu .active{
  font-weight: bold;
}
.range_0 #main-menu .active,
.range_0 #main-menu a:hover{
  background: transparent;
}
.range_0 #main-menu a{
  background: transparent;
  font-size: 16px;
  padding: 8px 20px 6px 20px;
}
.range_1 #main-menu a{
  padding: 8px 29px 6px 29px;
}
.range_2 #main-menu a{
  padding: 8px 49px 6px 49px;
}
.range_3 #main-menu a{
  padding: 8px 69px 6px 69px;
}

#highlighted{
  margin-bottom: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #d9d9d9;
  background: #ececec;
  background: -moz-linear-gradient(top, #ececec 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#e0e0e0));
  background: -ms-linear-gradient(top, #ececec 0%,#e0e0e0 100%);
  background: linear-gradient(top, #ececec 0%,#e0e0e0 100%);
}

#highlighted label{
  margin-top: 3px;
  color: #555;
  font-size: 16px;
}

#highlighted .form-text{
  padding: 3px 15px;
  font-size: 16px;
}

.range_0 #navigation{
  background: #ececec;
  background: -moz-linear-gradient(top, #ececec 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#e0e0e0));
  background: -ms-linear-gradient(top, #ececec 0%,#e0e0e0 100%);
  background: linear-gradient(top, #ececec 0%,#e0e0e0 100%);
}
.range_0 #highlighted{
  margin: 0;
  background: transparent;
  padding-top: 5px;
  padding-left: 23px;
}
.range_0 #highlighted label{
  width: 40px;
  margin-top: 0;
}
.range_0 #highlighted .form-text{
  width: 315px;
  float: none;
  margin-bottom: 5px;
}
.range_0 #highlighted p{
  margin-bottom: 0;
}
.range_1 #highlighted label{
  padding-right: 15px;
  margin-left: 25px;
}
.range_1 #highlighted .form-text{
  width: 205px;
}
.range_2 #highlighted label{
  padding-right: 10px;
  margin-left: 20px;
}
.range_2 #highlighted .form-text{
  width: 205px;
}
.range_3 #highlighted label{
  padding-right: 20px;
  margin-left: 30px;
}
.range_3 #highlighted .form-text{
  width: 315px;
}


/*----------------SIDEBAR-----------------*/

#sidebar-first .region > div{
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
}

#sidebar-first h2{
  font-size: 20px;
}

.range_1 #sidebar-first iframe{
  width: 220px;
  height: 220px;
}
.range_2 #sidebar-first iframe{
  width: 300px;
  height: 220px;
}
.range_3 #sidebar-first iframe{
  width: 380px;
  height: 280px;
}

#block-block-5 label{
  padding-right: 10px;
}

#block-block-5 label:last-of-type	{
  margin-left: 15px;
}

.range_1 #block-block-5 .form-text{
  width: 44px;
}
.range_2 #block-block-5 .form-text{
  width: 84px;
}
.range_3 #block-block-5 .form-text{
  width: 124px;
}

#sidebar-first .form-type-checkbox .option,
#sidebar-first .form-type-radio .option{
  float: left;
  width: auto;
  margin: 0 0 0 5px;
  padding: 0;
}

#sidebar-first .form-radio,
#sidebar-first .form-checkbox{
  float: left;
}

.range_1 #sidebar-first .form-type-checkbox .option,
.range_1 #sidebar-first .form-type-radio .option{
  width: 194px !important;
}
.range_2 #sidebar-first .form-type-checkbox .option,
.range_2 #sidebar-first .form-type-radio .option{
  width: 274px !important;
}
.range_3 #sidebar-first .form-type-checkbox .option,
.range_3 #sidebar-first .form-type-radio .option{
  width: 354px !important;
}

.range_0 #sidebar-first iframe{
  width: 100%;
  height: 250px;
}
.range_0 .show-map{
  display: none;
}
.range_0 #sidebar-first .form-text{
  width: 30%;
}
.range_0 #sidebar-first .form-item.form-type-radio{
  overflow: hidden;
  margin-right: 13px;
  margin-bottom: -0.1em;
  float: left;
}
.range_0 #sidebar-first .form-item.form-type-radio .option{
  width: auto !important;
}

/*------------SHOW-ON-THE-MAP-------------*/

#sidebar-first.grid_8{
  margin-left: -10px;
}

.range_1 #sidebar-first.grid_8{
  width: 480px;
}
.range_2 #sidebar-first.grid_8{
  width: 640px;
}
.range_3 #sidebar-first.grid_8{
  width: 800px;
}

#sidebar-first.grid_8 iframe{
  width: 100%;
}

#content.grid_4 .view-announcement{
  overflow: auto;
  margin-top: 40px;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

#content.grid_4 .view-announcement .views-row:first-child{
  border:none;
}

#content.grid_4 .view-announcement .views-row{
  border-top: 1px dotted #eee;
  margin-bottom: 0;
  padding: 0;
  -webkit-transition: background 0s ease-in;
  -moz-transition: background 0s ease-in;
  -o-transition: background 0s ease-in;
  transition: background 0s ease-in;
}
#content.grid_4 .view-announcement .views-row:hover{
  background: #eee;
  -webkit-transition: background 0s ease-in;
  -moz-transition: background 0s ease-in;
  -o-transition: background 0s ease-in;
  transition: background 0s ease-in;
}

#content.grid_4 .view-announcement .title{
  margin:0 !important;
}

#content.grid_4 .view-announcement .title a{
  display: block;
  padding: 15px 5px 15px 10px;
  width: 100%;
}

#sidebar-first.grid_8 iframe{
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.range_1 #content.grid_4 .view-announcement,
.range_1 #sidebar-first.grid_8 iframe{
  height: 380px;
}
.range_2 #content.grid_4 .view-announcement,
.range_2 #sidebar-first.grid_8 iframe{
  height: 450px;
}
.range_3 #content.grid_4 .view-announcement,
.range_3 #sidebar-first.grid_8 iframe{
  height: 500px;
}
.range_1 #content.grid_4 .view-announcement .title{
  width: 200px;
}
.range_2 #content.grid_4 .view-announcement .title{
  width: 270px;
  font-size: 14px;
}
.range_3 #content.grid_4 .view-announcement .title{
  width: 350px;
  font-size: 16px;
}


/*-----------------LIST-------------------*/

.view-announcement .views-row{
  clear: both;
  overflow: hidden;
  position: relative;
  margin-bottom: 2px;
  list-style: none;
  margin-left: 0;
  background: transparent;
  -webkit-transition: background .2s ease-out;
  -moz-transition: background .2s ease-out;
  -o-transition: background .2s ease-out;
  transition: background .2s ease-out;
}

.view-announcement .views-row:hover{
  
background: #e9eced;
  -webkit-transition: background 0s ease-in;
  -moz-transition: background 0s ease-in;
  -o-transition: background 0s ease-in;
  transition: background 0s ease-in;
}

.view-announcement .field-media{
  margin-left: 0;  
  margin-right: 0;
  padding: 5px;
}

.view-announcement .field-media img{
  border: 1px solid #eaeaea;
}

.view-announcement .field-price{
  position: absolute;
  margin-right: 0;
  top: 10px;
  right: 0;
  padding-right: 8px;
  text-align: right;
  font-size: 18px;
}

.view-announcement .title{
  float: left;
  margin-bottom: 15px;
  margin-top: 6px;
  width: 280px;
  font-size: 18px;
}

.view-announcement .created{
  font-style: italic;
  color: #555;
  text-align: right;
  margin: 5px 0 0 0;
}

.view-announcement .field-media div,
.view-announcement .field-media a,
.view-announcement .field-media img{
  width: inherit;
}

.view-announcement .field-category.grid_3,
.view-announcement .field-subcategory.grid_3{
  margin-bottom: 5px;
}

.view-announcement .field-subcategory.grid_3{
  width: auto;
}

.range_0 .view-announcement .views-row{
  margin-bottom: 10px;
}
.range_0 .view-announcement .field-price{
  position: static;
  text-align: left;
  font-size: 18px;
  margin-top: -58px;
  margin-bottom: 45px;
}
.range_0 .view-announcement .title{
  float: none;
}
.range_0 .view-announcement .field-category,
.range_0 .view-announcement .field-subcategory{
  float: left;
  margin-top: 22px;
}
.range_0 .view-announcement .created{
  text-align: left;
  clear:both;
  margin-top: 3px;
  margin-left: 10px;
}

.range_1 .view-announcement .title{
  font-size: 13px;
  margin-bottom: 5px;
  margin-right: 118px;
}
.range_1 .view-announcement .field-price{
  font-size: 15px;
}
.range_2 .view-announcement .title{
  font-size: 16px;
  margin-right: 158px;
}

.range_2 .view-announcement .field-category,
.range_2 .view-announcement .field-subcategory{
  font-size: 14px;
}


.range_3 .view-announcement .title{
  font-size: 20px;
  margin-right: 198px;
}
.range_3 .view-announcement .field-category,
.range_3 .view-announcement .field-subcategory{
  font-size: 15px;
}

.range_1 .view-announcement .created{
  font-size: 11px;
}
.range_2 .view-announcement .created{
  font-size: 12px;
}
.range_3 .view-announcement .created{
  font-size: 13px;
}

.item-list .pager{
  margin-top: 15px;
  float: right;
}

.range_0 .item-list .pager {
  float: none;
}
.range_1 .item-list .pager {
  width: 282px;
}
.range_2 .item-list .pager {
  width: 462px;
}
.range_3 .item-list .pager {
  width: 482px;
}

.item-list .pager li{
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  float: left;
  padding: 0;
  margin: 5px 2px;
  background: #f2f2f2;
  border: 1px solid #e5e5e5;
}

.item-list .pager li:hover{
  background: #e0e0e0;
}

.item-list .pager li:active{
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #ddd;
  background: #d0d0d0;
}

.item-list .pager li.pager-current,
.item-list .pager li.pager-current:hover{
  padding: 4px 6px;
  background: #e0e0e0;
}

.item-list .pager li a{
  padding: 4px 6px;
  display: block;
  text-decoration: none;
}


/*-------------ANNOUNCEMENT---------------*/


.field{
  margin-bottom: 10px;
}

.field-name-field-subcategory,
.field-name-field-category{
  float: left;
  width: auto;
  margin-right: 15px;
  font-size: 14px;
  font-style: italic; 
}

.field-name-field-subcategory span{
  margin-left: 15px;
  font-size: 13px;
}

.field-name-field-description,
.field-name-field-price{
  clear:both;
  font-size: 16px;
}

.field-name-field-description{
  padding-top: 25px;
}


/*----------------FORMS------------------*/


form{
  overflow: hidden;
}

fieldset{
  margin-top: 30px;
  border: none;
}

.form-items{
  clear: both;
  width: 620px;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 30px;
}

.form-item{
  overflow: hidden;
}

.views-exposed-widgets{
  margin-bottom: 0;
}
.views-exposed-form .views-exposed-widget{
  float: none;
  padding: 0;
}
.views-exposed-form .views-widget{
  float: left;
}
.views-exposed-form .form-text{
  margin-right: 10px;
}

/* label */

label,
.views-exposed-form label{
  padding-top: 6px;
  padding-bottom: 5px;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  color: #333333;
  text-align: right;
}

.form-item label{
  width: 300px;
  font-weight: normal;
}

.range_1 .form-item label{
  width: 200px;
}

label, 
.form-items span{
  float: left;
  padding-right: 20px;
}

/* description */

.description{
  font-style:italic;
  line-height:1.2em;
  font-size:0.8em;
  margin-top:5px;
  color:#777;

}

.form-item .description{
  text-align: right;
  width: 270px;
  padding-left: 30px;
}

/* radios, checkboxes, select */

.form-type-checkbox .option,
.form-type-radio .option{
  text-align: left;
  float: right;
  width: 260px !important;
  margin-top: -7px;
}


.form-radios,
.form-checkboxes{
  width: 300px;
  float: left;
}

.form-item select{
  width: 300px;
  margin-top: 8px;
}

/* input-text & textarea */

.form-text, 
.tag-entry,
.form-textarea{
  display: block;
  float: left;
  width: 272px;
  height: 30px;
  padding: 0px 13px;
  border-left: 1px solid #c1c1c1;
  border-top: 1px solid #898989;
  border-right: 1px solid #c1c1c1;
  border-bottom: 1px solid #e1e1e1;
  -webkit-box-shadow: inset 0px 1px 2px 0px #ccc;
  -moz-box-shadow: inset 0px 1px 2px 0px #ccc;
  box-shadow: inset 0px 1px 2px 0px #ccc;
  line-height: 30px;
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333;
}

.resizable-textarea{
  width: 300px;
  float: left;
}

.form-textarea{
  height: 150px;
}

.form-text:focus,
.tag-entry:focus,
.form-textarea:focus{
  outline-width: 0;
  border-left: 1px solid #b1b1b1;
  border-top: 1px solid #767676;
  border-right: 1px solid #b1b1b1;
  border-bottom: 1px solid #d6d6d6;
  -webkit-box-shadow: inset 0px 1px 1px 0px #a2a2a2;
  -moz-box-shadow: inset 0px 1px 1px 0px #a2a2a2;
  box-shadow: inset 0px 1px 1px 0px #a2a2a2;
  -webkit-transition: box-shadow 0.3s ease-out;
  -moz-transition: box-shadow 0.3s ease-out;
  -o-transition: box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out;
}

/* submit */

.form-submit,
input[type="button"]{
  cursor: pointer;
  padding: 6px 14px;
  border: 1px solid #dddddd;
  background: #f9f9f9;
  background: -moz-linear-gradient(top, #f2f2f2 0%, #e6e6e6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e6e6e6));
  background: -ms-linear-gradient(top, #f2f2f2 0%,#e6e6e6 100%);
  background: linear-gradient(top, #f2f2f2 0%,#e6e6e6 100%);
  font-size: 14px;
  color: #333333;
}

.form-submit:hover,
input[type="button"]:hover{
  background: #efefef;
  background: -moz-linear-gradient(top, #e9e9e9 0%, #d6d6d6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9e9e9), color-stop(100%,#d6d6d6));
  background: -ms-linear-gradient(top, #e9e9e9 0%,#d6d6d6 100%);
  background: linear-gradient(top, #e9e9e9 0%,#d6d6d6 100%);
}

.form-submit:active,
input[type="button"]:active{
  background: #f2f2f2;
  background: -moz-linear-gradient(top, #d6d6d6 0%, #e9e9e9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6d6d6), color-stop(100%,#e9e9e9));
  background: -ms-linear-gradient(top, #d6d6d6 0%,#e9e9e9 100%);
  background: linear-gradient(top, #d6d6d6 0%,#e9e9e9 100%);
}

input.password-field,
input.password-confirm{
  margin-right: 0;
}

.views-exposed-form .views-exposed-widget .form-submit{
  margin-top: 0;
}


/* container-inline */

.container-inline div, 
.container-inline label {
  display: inline;
}

.container-inline .form-text,
.container-inline .form-text.formatted-number{
  width: 110px;
  margin-right: 17px;
  text-align: left;
}

.container-inline select{
  width: 145px;
}


/* image upload */

#edit-field-event-image-0-ahah-wrapper label{
  margin-top: 12px;
}

.filefield-upload{
  overflow: hidden;
}

.filefield-upload .widget-edit{
  width: 300px;
  float: left;
}

.form-file{
  padding-top: 6px;
  width: 170px;
}
.filefield-upload .form-submit[type="submit"]{
  float: right;
}


/* autocomplete */

.form-autocomplete{
  background-image: url('../images/throbber.gif') !important;
  background-position: 99% 10px !important;
}

.throbbing{
  background-position: 99% -12px !important;
}

#autocomplete{
  margin-left: 320px;
  margin-top: 36px !important;
  width: 298px !important;
}

#autocomplete li{
  padding: 5px 10px;
  background: #f8f8f8;
}


/* error */ 

div.error{
  width: 618px;
  background: #ffe7e1;
  border: 1px solid #ffdcce;
}

div.error label{
  width: 298px;
  color: #f0461b;
}

div.error .form-text, 
div.error .form-text:focus,
div.error .form-textarea,
div.error .form-textarea:focus{
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffe7e1;
  -moz-box-shadow: inset 0px 1px 0px 0px #ffe7e1;
  box-shadow: inset 0px 1px 0px 0px #ffe7e1;
  border: 1px solid #f0461b;
  color: #f0461b;
}



/*----------------FOOTER------------------*/

#footer{
  padding: 20px 0;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  background: #eee;
  background: -moz-linear-gradient(top, #eee 0%, #e8e8e8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eee), color-stop(100%,#e8e8e8));
  background: -ms-linear-gradient(top, #eee 0%,#e8e8e8 100%);
  background: linear-gradient(top, #eee 0%,#e8e8e8 100%);
}

#footer .block{
  clear: both;
}

#footer ul > a {
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  color: #333;
  text-decoration: none;
}

#footer li{
  list-style: none;
  margin-bottom: 5px;
  font-size: 12px;
}

#footer li a {
  color: #727272;
}

#footer li a:hover {
  color: #555;
}

.range_0 #footer ul{
  width: 26%;
  float:left;
}
.range_0 #footer ul > a{
  font-size: 20px;
}
.range_0 #footer li{
  font-size: 15px;
  margin-bottom: 7px;
}

#block-block-2{
  width: 250px;
  float: right;
  margin-right: 25px;
  text-align: right;
}

#block-block-2 a{
  display: block;
  float: left;
}