
/*----------------LIST------------------*/

.view-announcement .views-row{
  clear: both;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  list-style: none;
  margin-left: 0;
}

.view-announcement .field-media{
  margin-left: 0;
}

.view-announcement .field-price{
  position: absolute;
  margin-right: 0;
  top: 0;
  right: 0;
  text-align: right;
  font-size: 18px;
}

.view-announcement .title{
  float: left;
  margin-bottom: 15px;
  width: 280px;
  font-size: 18px;
}

.view-announcement .created{
  font-style: italic;
  color: #555;
  text-align: right;
  margin-top: -14px;
}

.view-announcement .field-media div,
.view-announcement .field-media a,
.view-announcement .field-media img{
  width: inherit;
}

.range_0 .view-announcement .field-price{
  position: static;
  text-align: left;
  font-size: 18px;
}
.range_0 .view-announcement .title{
  float: none;
}
.range_0 .view-announcement .created{
  text-align: left;
  margin-top: 3px;
}

.range_1 .view-announcement .title{
  font-size: 13px;
  margin-bottom: 5px;
}
.range_1 .view-announcement .field-price{
  font-size: 15px;
}
.range_2 .view-announcement .title{
  font-size: 16px;
}
.range_2 .view-announcement .field-category,
.range_2 .view-announcement .field-subcategory,
.range_2 .view-announcement .created{
  font-size: 14px;
}


.range_3 .view-announcement .title{
  font-size: 20px;
}
.range_3 .view-announcement .field-category,
.range_3 .view-announcement .field-subcategory,
.range_3 .view-announcement .created{
  font-size: 15px;
}


/*----------------FORMS------------------*/


form{
    overflow: hidden;
}

fieldset{
    margin-top: 30px;
    border: none;
}

.form-items{
    clear: both;
    width: 620px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 30px;
}

.form-item{
    overflow: hidden;
}

.views-exposed-widgets{
    margin-bottom: 0;
}
.views-exposed-form .views-exposed-widget{
    float: none;
    padding: 0;
}
.views-exposed-form .views-widget{
    float: left;
}
.views-exposed-form .form-text{
    margin-right: 10px;
}

/* label */

label,
.views-exposed-form label{
    padding-top: 6px;
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 14px;
    color: #333333;
    text-align: right;
}

.form-item label{
    width: 300px;
    font-weight: normal;
}

label, 
.form-items span{
    float: left;
    padding-right: 20px;
}

/* description */

.description{
  font-style:italic;
  line-height:1.2em;
  font-size:0.8em;
  margin-top:5px;
  color:#777;
  
}

.form-item .description{
    text-align: right;
    width: 270px;
    padding-left: 30px;
}

/* radios, checkboxes, select */

.form-type-checkbox .option,
.form-type-radio .option{
  text-align: left;
  float: right;
  width: 260px;
  margin-top: -7px;
}

.form-radios,
.form-checkboxes{
  width: 300px;
  float: left;
}

.form-item select{
    width: 300px;
    margin-top: 8px;
}

/* input-text & textarea */

.form-text, 
.tag-entry,
.form-textarea{
    display: block;
    float: left;
    width: 272px;
    height: 30px;
    padding: 0px 13px;
    border-left: 1px solid #c1c1c1;
    border-top: 1px solid #898989;
    border-right: 1px solid #c1c1c1;
    border-bottom: 1px solid #e1e1e1;
    -webkit-box-shadow: inset 0px 1px 2px 0px #ccc;
    -moz-box-shadow: inset 0px 1px 2px 0px #ccc;
    box-shadow: inset 0px 1px 2px 0px #ccc;
    line-height: 30px;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
}

.resizable-textarea{
    width: 300px;
    float: left;
}

.form-textarea{
    height: 150px;
}

.form-text:focus,
.tag-entry:focus,
.form-textarea:focus{
    outline-width: 0;
    border-left: 1px solid #b1b1b1;
    border-top: 1px solid #767676;
    border-right: 1px solid #b1b1b1;
    border-bottom: 1px solid #d6d6d6;
    -webkit-box-shadow: inset 0px 1px 1px 0px #a2a2a2;
    -moz-box-shadow: inset 0px 1px 1px 0px #a2a2a2;
    box-shadow: inset 0px 1px 1px 0px #a2a2a2;
}

/* submit */

.form-submit,
input[type="button"]{
    cursor: pointer;
    padding: 6px 14px;
    border: 1px solid #dddddd;
    background: #f9f9f9;
    background: -moz-linear-gradient(top, #f2f2f2 0%, #e6e6e6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e6e6e6));
    background: -ms-linear-gradient(top, #f2f2f2 0%,#e6e6e6 100%);
    background: linear-gradient(top, #f2f2f2 0%,#e6e6e6 100%);
    font-size: 14px;
    color: #333333;
}

.form-submit:hover,
input[type="button"]:hover{
    background: #efefef;
    background: -moz-linear-gradient(top, #e9e9e9 0%, #d6d6d6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9e9e9), color-stop(100%,#d6d6d6));
    background: -ms-linear-gradient(top, #e9e9e9 0%,#d6d6d6 100%);
    background: linear-gradient(top, #e9e9e9 0%,#d6d6d6 100%);
}

.form-submit:active,
input[type="button"]:active{
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #d6d6d6 0%, #e9e9e9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6d6d6), color-stop(100%,#e9e9e9));
    background: -ms-linear-gradient(top, #d6d6d6 0%,#e9e9e9 100%);
    background: linear-gradient(top, #d6d6d6 0%,#e9e9e9 100%);
}

input.password-field,
input.password-confirm{
    margin-right: 0;
}

.views-exposed-form .views-exposed-widget .form-submit{
    margin-top: 0;
}


/* container-inline */

.container-inline div, 
.container-inline label {
  display: inline;
}

.container-inline .form-text,
.container-inline .form-text.formatted-number{
    width: 110px;
    margin-right: 17px;
    text-align: left;
}

.container-inline select{
    width: 145px;
}


/* image upload */

#edit-field-event-image-0-ahah-wrapper label{
    margin-top: 12px;
}

.filefield-upload{
    overflow: hidden;
}

.filefield-upload .widget-edit{
    width: 300px;
    float: left;
}

.form-file{
    padding-top: 6px;
    width: 170px;
}
.filefield-upload .form-submit[type="submit"]{
    float: right;
}


/* autocomplete */

.form-autocomplete{
    background-image: url('../images/throbber.gif') !important;
    background-position: 99% 10px !important;
}

.throbbing{
    background-position: 99% -12px !important;
}

#autocomplete{
    margin-left: 320px;
    margin-top: 36px !important;
    width: 298px !important;
}

#autocomplete li{
    padding: 5px 10px;
    background: #f8f8f8;
}


/* error */ 

div.error{
    width: 618px;
    background: #ffe7e1;
    border: 1px solid #ffdcce;
}

div.error label{
    width: 298px;
    color: #f0461b;
}

div.error .form-text, 
div.error .form-text:focus,
div.error .form-textarea,
div.error .form-textarea:focus{
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffe7e1;
    -moz-box-shadow: inset 0px 1px 0px 0px #ffe7e1;
    box-shadow: inset 0px 1px 0px 0px #ffe7e1;
    border: 1px solid #f0461b;
    color: #f0461b;
}



/*----------------FOOTER------------------*/

#footer{
  padding: 20px 0;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  background: #eee;
  background: -moz-linear-gradient(top, #eee 0%, #e8e8e8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eee), color-stop(100%,#e8e8e8));
  background: -ms-linear-gradient(top, #eee 0%,#e8e8e8 100%);
  background: linear-gradient(top, #eee 0%,#e8e8e8 100%);
}

#footer .block{
  clear: both;
}

#footer ul > a {
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  color: #333;
  text-decoration: none;
}

#footer li{
  list-style: none;
  margin-bottom: 5px;
  font-size: 12px;
}

#footer li a {
  color: #727272;
}

#footer li a:hover {
  color: #555;
}

.range_0 #footer ul > a{
  font-size: 20px;
}
.range_0 #footer li{
  font-size: 15px;
  margin-bottom: 7px;
}

#block-block-2{
  width: 250px;
  float: right;
  margin-right: 25px;
  text-align: right;
}

#block-block-2 a{
  display: block;
  float: left;
}